/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight);
  padding: 100px 0;
  color: var(--main-color);
  box-sizing: border-box;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: var(--main-width);
  block-size: 30vh;
  margin: 0 auto 100px;
  outline: solid 2px var(--main-color);
  background-color: var(--background-color);
}

h1 {
  font-family: var(--accent-font), monospace;
  font-size: 65px;
}

.header_text {
  font-family: var(--accent-font), monospace;
  font-size: 23px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  inline-size: var(--main-width);
  line-height: 21px;
}

.card {
  outline: solid 2px var(--main-color);
  background-color: var(--background-color);
}

.card_title {
  padding: 10px 5px;
}

.card_title_text {
  font-size: 18px;
  font-variation-settings: "wght" var(--h2-weight);
}

.image_wrapper {
  position: relative;
}

.image {
  width: 100%;
  outline: solid 2px var(--main-color);
}

.filter-saturation {
  filter: saturate(20%);
}

.filter-contrast {
  filter: brightness(200%) contrast(125%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-inverse {
  filter: invert(75%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue {
  filter: hue-rotate(-90deg);
}

.watermark {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  color: var(--watermark-color);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--watermark-bgd-color),
    0 1px var(--watermark-bgd-color), 1px 0 var(--watermark-bgd-color),
    0 -1px var(--watermark-bgd-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-bgd-color);
    text-stroke: 1px var(--watermark-bgd-color);
  }
}

.card_content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_button_wrapper {
  align-self: end;
  display: flex;
  gap: 19px;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--main-color);
}

.card__like-button {
  /* background-color: white; */
  font-family: var(--accent-font), monospace;
  outline: none;
  border: solid 2px var(--main-color);
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.button__text {
  color: white;
  mix-blend-mode: difference;
}

.card__like-button:focus .card__like-button {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  inline-size: 130px;
  block-size: 38px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: 0 center;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover .card__like-button::before {
  transform: scaleX(1);
}

.save_button {
  outline: none;
  border: solid 2px var(--main-color);
  font-family: var(--accent-font), monospace;
  display: flex;
  align-items: center;
  gap: 8px;
  block-size: 55px;
  margin: auto;
  position: relative;
  color: white;
  background-color: white;
  mix-blend-mode: difference;
}

.save_button:focus {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.save_button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  inline-size: 55px;
  block-size: 55px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: 0 center;
  transition: transform 0.5s ease-in-out;
}

.save_button:hover .save_button::before {
  transform: scaleX(1);
}

dialog {
  padding: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
  min-inline-size: 341px;
  max-inline-size: 357px;
}

dialog[open] .dialog_content {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.dialog_btn {
  background-color: transparent;
  border: solid 2px var(--main-color);
  inline-size: 100%;
  block-size: 38px;
}

dialog::backdrop {
  background-image: linear-gradient(E7E7E7, 1A1A1A);
}

@media (width <= 375px) {
  h1 {
    font-size: 49px;
  }

  .header_text {
    font-size: 14px;
  }
}
