/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* Основной шрифт */
  font-family: var(--main-font), sans-serif;
  /* Основной вес шрифта */
  font-variation-settings: "wght" var(--main-weight);
  padding: 100px 0;
  color: var(--main-color);
  box-sizing: border-box;
  background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* inline-size: var(--main-width); */
  inline-size: clamp(375px, 700px, var(--main-width));
  block-size: 30vh;
  margin: 0 auto 100px;
  outline: solid 2px var(--main-color);
  background-color: var(--background-color);
}

/* Другие резиновые элементы — логотип, заголовок, отступы в шапке. */
h1 {
  font-family: var(--accent-font), monospace;
  /* font-size: 65px; */
  font-size: clamp(49px, 65px, 100%);
}

.header_text {
  font-family: var(--accent-font), monospace;
  font-size: 23px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  /* inline-size: var(--main-width); */
  inline-size: clamp(375px, 700px, var(--main-width));
  line-height: 21px;
}

.card {
  outline: solid 2px var(--main-color);
  background-color: var(--background-color);
}

.card_title {
  padding: 10px 5px;
}

.card_title_text {
  font-size: 18px;
  font-variation-settings: "wght" var(--h2-weight);
}

.image_wrapper {
  position: relative;
}

.image {
  width: 100%;
  outline: solid 2px var(--main-color);
}

/* Шаг 6. Фильтры */

.filter-saturation {
  filter: saturate(20%);
}

.filter-contrast {
  filter: brightness(200%) contrast(125%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-inverse {
  filter: invert(75%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue {
  filter: hue-rotate(-90deg);
}

.watermark {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  color: var(--watermark-color);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--watermark-bg-color),
    0 1px var(--watermark-bg-color), 1px 0 var(--watermark-bg-color),
    0 -1px var(--watermark-bg-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-bg-color);
    text-stroke: 1px var(--watermark-bg-color);
  }
}

.card_content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_button_wrapper {
  align-self: end;
  display: flex;
  gap: 19px;
  align-items: center;
}

/* card__icon-button — для кнопки, оборачивающей иконку */

.card__icon-button {
  /* display: flex; */
  block-size: 38px;
  inline-size: 38px;
  background-color: transparent;
  transition: outline 0.3s ease;
}

/* А высота блока должна быть такой же, как у кнопки справа.
Проследите за размерами. */
.like-icon {
  width: 30px;
  height: 30px;
  /* margin: 0; */
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--main-color);
}

/* card__like-button — для кнопки Like рядом с иконкой */
.card__like-button {
  font-family: var(--accent-font), monospace;
  outline: none;
  border: solid 2px var(--main-color);
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  position: relative;
  z-index: 0;
}

.save_button {
  outline: none;
  border: solid 2px var(--main-color);
  font-family: var(--accent-font), monospace;
  display: flex;
  align-items: center;
  gap: 8px;
  block-size: 55px;
  margin: auto;

  position: relative;
  z-index: 0;
  background-color: white;
}

/* Шаг 7. Эффекты кнопок */

/* Эффекты на кнопках при фокусе и ховере имеют разную плавность. Кроме того,
эффекты кнопок «Like» и «Сохранить на память» отличается от эффекта кнопки,
оборачивающей сердечко. */

/* Works! */
.card__like-button:focus {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.save_button:focus {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

/*
По наведению на кнопку должен плавно слева направо появляться псевдоэлемент.
Добиться этого можно двумя путями:
- через scale от 0 до 1;
- через translate от -100% по оси X до 0. В этом случае кнопке придётся задать
  overflow.
*/

/* button__text — для обозначения текстового элемента внутри кнопки */
.button__text {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: white;
}

.button_pseudo::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: 0 center;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover .button_pseudo::before {
  transform: scaleX(1);
}

.save_icon {
  /* mix-blend-mode: difference; */
  /* color: white; */
  /* fill: white; */
  position: relative;
  z-index: 2;
}

.save_button:hover .button_pseudo::before {
  transform: scaleX(1);
}


/* Кнопка сохранения */

dialog {
  padding: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
  min-inline-size: 341px;
  max-inline-size: 357px;
}

/*
Чтобы сверстать две колонки внутри модального окна, вы, скорее всего,
захотите изменить в нём значение display. Воздействие на display повлияет на
возможности скрывать и показывать модальное окно, ведь по умолчанию у элемента
dialog предустановленное значение display. Чтобы избежать этой проблемы, меняйте
свойство display у диалога только в состоянии opened.
*/
dialog[open] .dialog_content {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;

  text-transform: uppercase;
}

.dialog_btn {
  background-color: transparent;
  border: solid 2px var(--main-color);
  inline-size: 100%;
  block-size: 38px;
}

/* Не забудьте также стилизовать задний слой у открытого модального окна.
Для этого придуман псевдоэлемент backdrop. */
dialog::backdrop {
  background-image: linear-gradient(E7E7E7, 1A1A1A);
}

@media (width <= 375px) {
  .header {
    inline-size: 100vw;
  }

  h1 {
    font-size: 49px;
  }

  .header_text {
    font-size: 14px;
  }

  .content {
    inline-size: 100vw;
  }
}
